@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
* { 
    background-color: rgb(202, 199, 199);
}
body {
    text-align: left;
}
.newspaper-container {
    background-color: white;
    width: 700px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border-style: solid;
    
    border-color: white;
     
}


header {
    font-family: Abril Fatface;
    background-color: white;
    border-radius: 30px; 
    border-color: white;
}
h1 {
    font-size: 4em;
    text-align: center;
    background-color: white;
}
.date  {
    color: gray;
    font-weight: 500;
    font-family: Courier;
    padding: 15px;
    text-align: left;
    background-color: white;
    border-radius: 30px; 
    border-color: white;

}

nav { 
    width: 100%;
    background-color: white;
}

nav li {
    display: inline;
    background-color: white;
}
nav ul {
    background-color: white;
}

ul li {
    list-style: none; 
    text-align: center;
    background-color: white;
     

}
li a {
    text-decoration: none;
    font-size: .5em;
    color: gray;
    padding: 15px;
    background-color: white;
    
}
h2 {
    background-color: white;
}
h3 {
    background-color: white;
}
h4 {
    background-color: white;
}
h5 {
    background-color: white;
    color: #ff0000;
    margin-right: 80%;
}
p { 
    background-color: white;
    border-radius: 30px; 
    border-color: white;
     
}
section {
    background-color: white;
    border-radius: 30px; 
    border-color: white;
}
.more-articles {
    background-color: white;
    border-radius: 30px; 
    border-color: white;
}


main {
    background-color: white;
}
.more-articles {
    display: inline-block;
}